#flexitank {
  .introduction {
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 40px;
    @include msm {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include section-container;
    .intro-header {
      @extend .section-header;
    }
    .intro-subheader {
      @extend .section-subheader;
    }
    .intro-description {
      @extend .section-description;
      max-width: 350px;
      b {
        font-weight: 600;
      }
    }
    .contact-button {
      @include square-button(white, $primary-blue);
      height: 40px;
      .arrow {
        width: 10px;
        margin-left: 8px;
      }
    }
    .card-col {
      margin-bottom: 24px;

      @include md {
        margin-bottom: 32px;
      }
    }
    .intro-card {
      box-shadow: $main-box-shadow;
      height: 100%;
      min-height: 150px;
      transition: $transition-main;
      &:hover {
        box-shadow: $light-box-shadow;
        transition: $transition-main;
      }
      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -48px;
        .blue-circle {
          width: 80px;
        }
      }
      .intro-text {
        text-align: center;
        max-width: 300px;
        margin: auto;
      }
    }
  }
}
